<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Head content goes here -->
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Purchase Records</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Product Image</th>
          <th scope="col">Product</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Total Cart Price</th>
        </tr>
      </thead>
      <tbody>
        <% @purchase_records.reverse_each do |record| %>
          <tr>
            <td><%= record.order_id %></td>
            <td>
                <% if record.product.image.present? %>
                <%= image_tag record.product.image, class: 'card-img-top', alt: '...' %>
                <% end %>
            </td>
            <td><%= record.product.title_name %></td>
            <td><%= record.product.title_description %></td>
            <td>₹<%= record.product.title_price %></td>
            <td>₹<%= record.total_cart_price %></td>    
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
</html>
