<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
          <% if @product.image.present? %>
          <img src="<%= @product.image.url %>" class="card-img-top" alt="...">
          <% end %>   
            <div class="card-body">
              <p class="card-text"><%= @product.title_name %> </p>
              <p class="card-text"><%= @product.title_description %> </p>
              <h5 class="card-text">₹<%= @product.title_price %> </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div>
        <h1>Payment Details</h1>
        <p>Subtotal: ₹<%= @subtotal %></p>
        <%= @qr_code_url.html_safe %>
        <div class="form-group">
          <%= form_with(model: @purchase_record, url: purchase_records_path(product_id: @product.id), method: :post, local: true, id: "purchase_record_form") do |form| %>
            <div class="field">
              <%= form.label :transaction_id, class: "form-label"%> ID:-  
              <%= form.text_field :transaction_id, class: 'form-control', id: "purchase_record_transaction_id" %>
            </div>
            <!-- Add other fields as needed -->
            <div class="actions text-center">
              <%= form.submit "Purchase Now", class: "btn btn-primary" %>
            </div>
          <% end %>  
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var options = {
            fillContainer: true,
            offset: { vertical: 0, horizontal: 5 }
        };
        
        var imgContainer = document.getElementById("img-container");

        imgContainer.addEventListener("mouseenter", function() {
            new ImageZoom(imgContainer, options);
        });

        imgContainer.addEventListener("mouseleave", function() {
            // Remove the ImageZoom instance or do any cleanup if necessary
        });
    });
</script>