<!DOCTYPE html>
<html>
<head>
  <title>ECommerceWeb</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" type="application/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

  <style>
  /* Apply styles to all navigation items */
  .nav-item {
    margin-right: 10px; /* Adjust spacing between navigation items */
  }
  
  /* Style the links */
  .nav-link {
    color: #333; /* Change link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make text bold */
  }
  
  /* Style the buttons */
  .btn {
    border-radius: 20px; /* Round corners */
    padding: 5px 10px; /* Adjust padding */
  }
  
  /* Style the cart icon */
  .nav-item img {
    max-width: 30px; /* Set maximum width for the cart icon */
  }

  /* Style the user profile image */
  .user-profile {
    cursor: pointer;
    position: relative;
    display: inline-block;
  }

  .user-profile img {
    max-width: 30px; /* Set maximum width for the user profile image */
    border-radius: 50%; /* Make the image round */
    margin-right: 50px; /* Adjust spacing */
  }

  .user-profile-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-right: 50px; /* Adjust spacing */
  }

  .user-profile-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .user-profile-dropdown a:hover {
    background-color: #f1f1f1;
  }
  </style>
  </head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'ECommerce', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
    <li class="nav-item">
    <%= form_tag(root_path, method: :get, class: "form-inline my-2 my-lg-0") do %>
      <div class="row align-items-center">
        <div class="col-8 position-relative">
          <%= text_field_tag :query, params[:query], id: "searchInput", placeholder: "Search Products", class: "form-control mr-sm-2" %>
        </div>
        <div class="col-4">
          <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0 w-100" %> <!-- Added w-100 class for full width -->
        </div>
      </div>
    <% end %>                  
  </li>
  
  
    <li class="nav-item">
    <%= link_to cart_items_path, class: 'nav-link btn btn-outline-primary' do %>
      <%= image_tag("cart.svg", alt: "Icon", class: "img-fluid") %>
      <span style="margin-left: 5px;"><%= session[:cart_count] || 0 %></span>
    <% end %>
  </li>
      <li class="nav-item">
        <div class="user-profile" onclick="toggleUserProfileDropdown()">
          <%= image_tag("user_profile_image.jpg", alt: "User Profile Image") %>
          <ul class="user-profile-dropdown" id="userProfileDropdown">
            <div class="nav-item"><%= link_to 'Watch List', new_product_path %></div>
            <div class="nav-item"><%= link_to 'Upload Product', new_product_path %></div>
            <div class="nav-item"><%= link_to 'Your Order', show_orders_purchase_records_path %></div>
            <div class="nav-item">
              <%= form_tag(destroy_user_session_path, method: :delete) do %>
                <%= button_tag(type: 'submit', class: 'btn btn-link', data: { confirm: 'Are you sure?' }) do %>
                  Sign Out
                <% end %>
              <% end %>
            </div>
          </ul>
        </div>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to 'Sign In', new_user_session_path, class: "nav-link btn btn-outline-primary" %>
      </li>
    <% end %>
    </ul>
  </div>
</nav>
</div>

  <%= yield %>

<script type="text/javascript">
  // JavaScript to toggle user profile dropdown
  function toggleUserProfileDropdown() {
    var dropdown = document.getElementById("userProfileDropdown");
    if (dropdown.style.display === "block") {
      dropdown.style.display = "none";
    } else {
      dropdown.style.display = "block";
    }
  }
</script>

</body>

</html>
